<?xml version="1.0"?>
<UserConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AudioLanguagePreference />
  <PlayDefaultAudioTrack>true</PlayDefaultAudioTrack>
  <SubtitleLanguagePreference>zh-CN</SubtitleLanguagePreference>
  <DisplayMissingEpisodes>true</DisplayMissingEpisodes>
  <SubtitleMode>Always</SubtitleMode>
  <EnableLocalPassword>false</EnableLocalPassword>
  <OrderedViews>
    <string>3227ce1e069754c594af25ea66d69fc7</string>
    <string>e7bfe656953e3fad0bdf034be7969a97</string>
  </OrderedViews>
  <LatestItemsExcludes />
  <MyMediaExcludes />
  <HidePlayedInLatest>false</HidePlayedInLatest>
  <RememberAudioSelections>true</RememberAudioSelections>
  <RememberSubtitleSelections>true</RememberSubtitleSelections>
  <EnableNextEpisodeAutoPlay>true</EnableNextEpisodeAutoPlay>
  <ResumeRewindSeconds>0</ResumeRewindSeconds>
  <IntroSkipMode>ShowButton</IntroSkipMode>
</UserConfiguration>